body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: rgb(7, 7, 7);
      color: #72b8d6;
    }
   header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1.5em 0;
}

    main {
      background-image: url("https://i.pinimg.com/736x/bd/6d/ac/bd6dacaa04e2264fa66a6f7b3d66a6e3.jpg") ;
      padding: 2em;
      max-width: 800px;
      margin: auto;
    }
    h2 {
      border-bottom: 2px solid #050505;
      padding-bottom: 0.3em;
      margin-top: 2em;
    }
    .plato {
      margin: 1em 0;
    }
    .nombre {
      font-weight: bold;
      font-size: 1.1em;
    }
    .precio {
      float: right;
      font-weight: bold;
    }
    .descripcion {
      font-style: italic;
      margin-top: 0.3em;
      color: #555;
    }
    footer {
      text-align: center;
      padding: 1em;
      background: #030303;
      margin-top: 3em;
      font-size: 0.9em;
    }
